.header {
  background-color: #015a96;
  z-index: 99;
  position: relative;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 0 14px 0;
  }
  &__left {
    margin-right: 18px;
  }
  &__logo {
    width: 84px;
    height: 22px;
  }
  &__right {
    max-width: 297px;
    width: 100%;
  }
}
.logo {
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    padding-right: 0;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
  }
  &__items {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
    padding-right: 15px;
    &:nth-last-child(1) {
      padding-right: 0;
    }
  }
  &__itemses {
    text-align: center;
  }
  &__itemses-active {
    text-align: center;
    padding: 6px 14px;
    border: 2px solid #ffffff;
  }


}





.burger {
  cursor: pointer;
  width: 36px;
  height: 12px;
  top: 20%;
  position: absolute;
  right: 6px;
  &-line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    right: 0;
    border-radius: 3px;
  }
  &-line:nth-child(2) {
    top: auto;
    bottom: 1px;
  }
  &-line:last-child {
    top: auto;
    bottom: -8px;
  }

}






.burger {
  display: none;
}
// .burger__reset {
//   display: block;
// }
.header__lefts {
  display: flex;
  align-items: center;
}
.header__burger {
  display: none;

}
.slids__btn-two {
  display: none !important;
}





.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
	background-color: rgba(16, 16, 18, 0.9);


}

.modals {
  position: absolute;
  z-index: 100;
}

.modal {
	border-radius: 0;
	background-color: #e7e7e7;
	padding: 38px 65px 32px 65px;
	max-width: 450px;
	width: 100%;
	top: 22%;
	bottom: 50%;
	z-index: 199;
	margin: 0 auto;
	position: relative;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.info__close {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	background: transparent url(../img/close.png) no-repeat center;
	border: none;
	margin: 7px;
	cursor: pointer;
}
.modal__text-t {
  color: #000000;
  font-family: 'segoe-ui', sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "ЗАМОВИТИ З" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.modal-price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 21px;
}
.modal__text-s {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 60px;
  font-weight: 700;
  line-height: 55px;
}
.modal-price__d {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  text-decoration: line-through;
  line-height: normal;
  margin-right: 20px;
  color: #8e8e8e;
}
.modal-options__price-left {
  color: #a14ab2;
  font-family: 'segoe-ui-semibold',sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 35px;
  span {
    line-height: 55px;
  }
}


.modal__input {
  border-radius: 10px;
  border: 1px solid #a2a2a2;
  background-color: #ffffff;
	width: 318px;
	height: 50px;
	margin-bottom: 10px;
  padding-left: 19px;
}
.modal__input::placeholder {
  color: #101012;
  font-family: 'segoe-ui', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 55px;
  text-align: left;
  /* Text style for "В, аше ім’" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.modal__btn {
  max-width: 318px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #a14ab2;
  color: #ffffff;
  font-family: 'segoe-ui-semibold',sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  border: 0;
  margin-bottom: 29px;
}
.modal__btn::before {
	content: '';
	position: absolute;
	background-image: url(../img/slids__btn-next.png);
	width: 21px;
	height: 11px;
	right: 63px;
	transition: all 0.3s ease;
}





.burger {
  cursor: pointer;
  width: 19px;
  height: 19px;
  top: 0;
  position: relative;
  right: -73px;
  padding: 3px 9px;
  background-color: #fff;
  border: 1px solid gray;
  &-line {
    width: 14px;
    height: 1px;
    background-color: #015a96;
    display: block;
    position: absolute;
    right: 2px;
    border-radius: 3px;
  }
  &-line:nth-child(2) {
    top: auto;
    bottom: 8px;
  }
  &-line:last-child {
    top: auto;
    bottom: 3px;
  }

}
.burger {
  display: none;
}
// .burger__reset {
//   display: block;
// }
.header__lefts {
  display: flex;
  align-items: center;
}
.header__burger {
  display: none;

}
.slids__btn-two {
  display: none !important;
}

.logo__it {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: center;
}
